body{
  display: flex;
  flex-direction: column;
  margin: 2vh 25vw;
  background-color: #F6F6F6;
}
.container{
  border: 1px solid black;
  border-bottom: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#radioContainer{
  display: flex;
  flex-direction: column;
}
#inpit{
  height: 73px;
  width: 169px;
  margin-bottom: 2%;
}
h2{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 2%;
}
#quiz-img { 
  width: 100%; 
  height: 75%; 
  object-fit: cover; 
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: 1px solid black;
  outline-offset: -1px;
}
label{
  font-family: 'Open Sans', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 25px;
}
button{
  margin: 2% 2%;
  background-color: #62B476;
  border: 0px;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  width: 100px;
}
.button-container{
  display: flex;
  justify-content: center;
}
button:hover {
  background-color: rgb(1, 136, 1);
}
img[hidden] {
  display: none;
}
p{
  font-size: 25px;
  margin: 0px 3% 2%;
}
input{
  margin-right: 2%;
}
@media (max-width: 768px) {
  body{
    margin: 2vh 2vw;
  }
  label{
    font-size: 18px;
    margin-top: 3%;
    margin-bottom: 2%;
  }
  #quiz-img {
    height: 100%;
  }
  p{
    font-size: 20px;
  }
}
